controller,mgmt,eno33554984,10.0.0.11,24,static,10.0.0.1,manual,1
controller,pub,auto,auto,auto,dhcp,auto,auto,0
compute1,mgmt,eno33554984,10.0.0.31,24,static,10.0.0.1,manual,1
compute1,pub,auto,auto,auto,dhcp,auto,auto,0
block1,mgmt,eno33554984,10.0.0.41,24,static,10.0.0.1,manual,1
block1,pub,auto,auto,auto,dhcp,auto,auto,0
object1,mgmt,eno33554984,10.0.0.51,24,static,10.0.0.1,manual,1
object1,pub,auto,auto,auto,dhcp,auto,auto,0
object2,mgmt,eno33554984,10.0.0.52,24,static,10.0.0.1,manual,1
object2,pub,auto,auto,auto,dhcp,auto,auto,0

