controller,eth1,internal,10.0.0.11,255.255.255.0,static,10.0.0.1,manual,1
controller,auto,pub,auto,auto,dhcp,auto,auto,0
compute1,eth1,internal,10.0.0.31,255.255.255.0,static,10.0.0.1,manual,1
compute1,auto,pub,auto,auto,dhcp,auto,auto,0
block1,eth1,internal,10.0.0.41,255.255.255.0,static,10.0.0.1,manual,1
block1,auto,pub,auto,auto,dhcp,auto,auto,0
object1,eth1,internal,10.0.0.51,255.255.255.0,static,10.0.0.1,manual,1
object1,auto,pub,auto,auto,dhcp,auto,auto,0
object2,eth1,internal,10.0.0.52,255.255.255.0,static,10.0.0.1,manual,1
object2,auto,pub,auto,auto,dhcp,auto,auto,0

