controller,eth1,internal,10.0.0.11,255.255.255.0,static,10.0.0.1,manual,2
controller,auto,pub,auto,auto,dhcp,auto,auto,1
compute1,eth1,internal,10.0.0.31,255.255.255.0,static,10.0.0.1,manual,2
compute1,auto,pub,auto,auto,dhcp,auto,auto,1
block1,eth1,internal,10.0.0.41,255.255.255.0,static,10.0.0.1,manual,2
block1,auto,pub,auto,auto,dhcp,auto,auto,1
object1,eth1,internal,10.0.0.51,255.255.255.0,static,10.0.0.1,manual,2
object1,auto,pub,auto,auto,dhcp,auto,auto,1
object2,eth1,internal,10.0.0.52,255.255.255.0,static,10.0.0.1,manual,2
object2,auto,pub,auto,auto,dhcp,auto,auto,1

